* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: hsl(351, 79%, 9%);
    color: hsl(120, 59%, 56%);
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    font-family: 'Great Vibes', cursive, 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

h2 {
    color: hsl(0, 78%, 47%);
    text-align: center;
    margin: 1rem;
}

.mainMenu {
    font-family: 'Merriweather', serif;;
    font-weight: bold;
    font-size: 1.1rem;
}

nav > li:first-child {
    font-size: 1.5rem;
}

nav li {
    list-style-type: none;
    cursor: pointer;
}

.selected-item {
    display: visible;
}

.unselected-item {
    display: hidden;
}

.workMenu {
    display: none;
}

.workMenu a {
    color: inherit;
    text-decoration: none;
}

#workExp:hover > ul {
    display: block;
}

.extra {
    display: none;;
}

.myPic img {
    height: 33rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

/* main {
    display: flex;
    justify-content: center;
} */

main {
    font-family:'Times New Roman', Times, serif, serif;
}

.coding {
    background:linear-gradient(hsla(0, 0%, 0%, 65%), hsla(0, 0%, 0%, 65%)), url("Tech.jpg");
    background-size: cover;
    font-weight: bold;  
}

.projects {
    background:linear-gradient(hsla(0, 0%, 0%, 65%), hsla(0, 0%, 0%, 65%)), url("Projects.png");
    background-size: cover;
}

.experience h4, .dates{
    margin-bottom: 0;
}

.experience h5, .job{
    margin-top: 0;
}

footer {
    height: 3rem;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, black 0%, black 10%, black 30%, transparent 90%);
    margin-top: auto;
}

