* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: hsl(245, 63%, 12%);
    color: hsl(39, 67%, 76%);
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}

h1 {
    font-family: 'Great Vibes', cursive, 'Times New Roman', Times, serif;
    font-size: 4rem;
    text-align: center;
    margin: 1rem;
}

.mainMenu {
    font-family: 'Merriweather', serif;;
    font-weight: bold;
    font-size: 1.5rem;
}

nav > li:first-child {
    font-size: 2rem;
}

nav li {
    list-style-type: none;
    cursor: pointer;
}

.selected-item {
    display: visible;
}

.unselected-item {
    display: hidden;
}

.workMenu {
    display: none;
}

.workMenu a {
    color: inherit;
    text-decoration: none;
}

#workExp:hover > ul {
    display: block;
}

.extra {
    display: none;;
}

.myPic img {
    height: 33rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

@media screen and (min-width: 580px) and (max-width: 980px) {
    .mainMenu {
        margin-right: 20px;
    }
}

@media screen and (max-width: 580px) {
    .content {
        display: inline;
    }

    .mainMenu {
        margin-right: 20px;
        font-size: smaller;
    }

    h1 {
        font-size: larger;
    }

    .myPic img{
        height: 15em;
        width: 9em;        
    }

    main h4,
    main h5 {
        font-size: smaller;
    }

    main h3 {
        font-size: small;
    }

    main ul li,
    main p {
        font-size: small;
    }

    footer p {
        font-size: small;
    }
}

main {
    font-family:'Times New Roman', Times, serif, serif;
    flex-basis: 100%;
}

main li, p {
    color: hsl(39, 69%, 82%);
    font-size: 1.2rem;
}

/* .coding {
    background:linear-gradient(hsla(0, 0%, 0%, 65%), hsla(0, 0%, 0%, 65%)), url("Tech.jpg");
    background-size: cover;
    font-weight: bold;  
}

.projects {
    background:linear-gradient(hsla(0, 0%, 0%, 65%), hsla(0, 0%, 0%, 65%)), url("Projects.png");
    background-size: cover;
} */

h3 {
    font-size: 1.5rem;
}

h4, h5 {
    font-size: larger;
    color:hsl(39, 68%, 79%);
}

.experience h4, .dates{
    margin-bottom: 0;
}

.experience h5, .job{
    margin-top: 0;
}

button {
    cursor: pointer;
}

footer {
    height: 3rem;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, black 0%, black 10%, black 30%, transparent 90%);
    margin-top: auto;
}

